<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>404 Page</title>
</head>
<body>
<h1>Error Handler</h1>
<div>Path&nbsp;&#58;&nbsp;<nobr th:text="${path}"></nobr>
</div>
<br/>
<div>Status&nbsp;&#58;&nbsp;<nobr th:text="${status}"></nobr>
</div>
<br/>
<div>Error&nbsp;&#58;&nbsp;<nobr th:text="${error}"></nobr>
</div>
<br/>
<div>Message&nbsp;&#58;&nbsp;<nobr th:text="${message}"></nobr>
</div>
<br/>
<div>Timestamp&nbsp;&#58;&nbsp;<nobr th:text="${timestamp}"></nobr>
</div>
</body>
</html>